/* src/components/CameraCapture.css */
.camera-capture-container {
    padding: 20px;
  }


  .camera-capture-paper {
    padding: 20px;
  }

  .camera-capture-header {
    display: flex;
    align-items: center;
  }

  .camera-capture-icon {
    margin-right: 8px;
    vertical-align: middle;
  }

  .camera-view-video {
    max-width: 100%;
  }

  .image-preview-img {
    max-width: 100%;
  }

  .image-preview-retake {
    margin-top: 10px;
  }

  .action-buttons-container {
    margin-top: 10px;
  }

  .action-buttons-submit {
    margin-top: 20px;
  }

  /* src/components/CameraView.css */
.camera-view-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.camera-view-container video { /* Target the video element directly */
  width: 100%;
  object-fit: contain;
  max-height: 700px; /* Adjust as needed */
}

@media (max-width: 768px) {
  .camera-view-container webcam {
    max-width: 100% !important;
    height: auto !important;
  }
}

@media (max-width: 400px) { /* Add this media query */
  .camera-view-container webcam {
    max-width: 100% !important; /* Adjust as needed */
    height: 250px !important; /* Adjust as needed */
  }
}